@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default,
        root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}

@theme {
    --color-fern-green: #213706;
    --color-filter: #3D4244;
    --color-footer: #DBDBDB
}

:root {
    --fern-green: var(--color-fern-green)
}

.titles {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

.images {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}